
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  input[type="url"] {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 300px;
    border-radius: 3px 0 0 3px;
  }
  
  button[type="submit"] {
    background-color: #4a4a4a;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
  }
  
  input[type="url"]:focus,
  button[type="submit"]:hover {
    background-color: #5a5a5a;
  }
  
  input[type="url"]:focus {
    outline: none;
  }
  

  